body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background: #ecfff9;
}

.container {
    margin-top: 20px;
    width: 50% !important;
}

h1 {
    margin-bottom: 30px;
}

.form-group {
    margin: 20px;
}

.table th, .table td {
    background-color: #ecfff9; /* White background for table cells */
}